.navbarBackground {
  background-color: #003775;
}

.tableBackground {
  background-color: #ffc216;
}

.iconNavbar {
  display: flex;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.voaeLogo {
  height: 10rem;
  width: 20rem;
}

.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.botonCustom {
  color: whitesmoke;
  background-color: #003775;
  width: 100%;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.botonCustom:hover {
  color: black;
  background-color: #ffc216;
}

.botonUnirse {
  color: white;
  text-align: center;
  background-color: green;
  border: none;
  width: 40%;
  border-radius: 20%;
  transition: background-color 0.3s, color 0.3s, width 0.5s;
  margin-right: 0.1rem;
}

.botonUnirse:hover {
  color: white;
  background-color: #8dd91b;
  width: 50%;
}

.botonCancelar {
  color: white;
  background-color: #d31d0d;
  border: none;
  width: 40%;
  border-radius: 20%;
  transition: background-color 0.3s, color 0.3s, width 0.5s;
  margin-left: 0.5rem;
}

.botonParticipantes {
  background-color: #03407e; /* Azul oscuro */
  color: white; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonCancelar:hover {
  color: white;
  background-color: #ff5f51;
  width: 50%;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.centrarContenido {
  text-align: center;
}

.formCustom {
  width: 10rem;
}

.iconNavbar {
  width: 40px;
  margin-right: 10px;
}

.ml-auto {
  margin-left: auto;
}

.nav-link-custom {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link-custom:hover {
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.1s ease;
}

.table-custom-horas {
  background-color: #003775; 
}

.table-custom-horas th {
  background-color: #003775; 
  color: #fff;
}

.horasCompletadasContainer{
  width: 50%;
}
