/* index.css */
body {
  background-color: #f8f9fa;
}

.jumbotron {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.cardCustom {
  width: 18rem;
}

.table-custom-warning {
  background-color: #FFC216 !important; /* Bootstrap's default table-warning color */
}

.table-custom-warning th {
  background-color: #FFC216 !important; /* A stronger yellow color */
}

.navbar-nav {
  margin-left: auto; /* Ensure nav items are pushed to the right */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8d7da; /* Color de fondo al hacer hover */
  color: #721c24; /* Color del texto al hacer hover */
}

/* styles.css */
.login-container,
.reset-password-container,
 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
}

.login-card,
.reset-password-card {
  background-color: #FFC216; /* Amarillo oscuro */
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.card-activiades {
  background-color: #FFC216; /* Amarillo oscuro */
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.registration-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.registration-card {
  background-color: #FFC216; /* Amarillo oscuro */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Menor ancho */
  max-width: 1000px; /* Ancho máximo de la tarjeta */
  margin: 1rem auto; /* Margen superior e inferior */
}

.submit-button {
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

img {
  width: 100%;
  max-width: 400px; /* Ancho máximo del logo */
  height: auto;
}
